*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
**/.cache
**/.terraform.*
**/.terraform/
**/.terraform/*
**/*.env
**/*.log
**/all-*.txt
**/backend.conf
**/docker_build_temp
**/examples/**/deploy
**/test
crash.log
kubectl
override.tf
override.tf.json