*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
**/backend.conf
**/.terraform.*
**/.terraform/
**/.terraform/*
**/examples/**/deploy
**/docker/*temp*
crash.log
kubectl
override.tf
override.tf.json
